<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/total.css">
    <link rel="stylesheet" href="/public/css/footer.css">

    <title>Policy Procedure</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-lg fixed-top">
        <div class="container">
            
            <div class="navbar-logo">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="/public/images/logo (1).png" alt="Logo" width="100" height="80" class="d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><b>HOME</b></a>
                    </li>

                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>ABOUT US</b></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="about us">About Us</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="Q's & A's">Q's & A's</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="Events">Events</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="products.html"><b>PRODUCTS</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://totalcareeurope.com/webAssets/img/promotion.pdf" target="_self"><b>COMPENSATION PLAN</b></a>
                    </li>

                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>LOGIN AS</b></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="Login.html">User Login</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="working on the page">User Register</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="StockListLogin">Stock List Login</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html"><b>CONTACT US</b></a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <div class="site-wrapper site-wrapper-reveal">
        <div class="hero-slider-area">
            <div class="banner-img">
                <img src="/public/images/banner1.jpg" alt="">
            </div>
        </div>

        <div class="about-page-content-area sm-top px-lg-5 our-policies">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 style="margin-top: 30px;">POLICIES AND PROCEDURES</h3>
                        <p>
                            Welcome and thank you for using the www.totalcareeurope.com site (“the site”). The site is owned by Total Care Europe Unipessoal LDA The site is hosted and managed by Total Care Europe Unipessoal LDA and promotes the 
                            sale of Total Care Europe Unipessoal LDA products or services and other branded products (“the products”) or services ("the services").
                        </p>
                            Your use of this site indicates your acceptance of these terms and your agreement to follow and be bound by them. Do not use the site if you do not agree to be bound by these terms. We may periodically change the terms, 
                            without notice, so kindly check them from time to time as your continued use of the site signifies your acceptance of any changed terms
                        <p><br>
                            Purchases made from the site and Leads generated through the form are subject to the terms and conditions of this Agreement, to the exclusion of all other terms. By shopping or browsing on this site, you acknowledge that you have read, 
                            understood, and agreed to be bound by this Agreement, and the other policies displayed on this site. For the purposes of this Agreement the terms “our”, “we” and/or “The Total Care Europe Unipessoal LDA Satellites” shall mean Total Care Europe Unipessoal LDA
                        </p>

                        <h4>INFORMATION</h4>
                        <p>
                            While we make reasonable efforts to provide accurate and timely information about Total Care Europe Unipessoal LDA its subsidiaries and associated companies (“the Total Care Europe Unipessoal LDA Family”) on this site, you should not assume that the information provided is always current or that this site contains all 
                            the relevant information available.
                        </p>

                        <h4>YOUR COMMENT</h4>
                        <p>
                            We value the comments, ideas, suggestions, and feedback disclosed, submitted, or offered by you on, by or in connection with your use of the site (“comments”), but Total Care Europe Unipessoal LDA shall not be obliged to respond to, 
                            maintain or compensate you in any way whatsoever for your comments. Once disclosed, submitted, or offered, your comments shall become the property of Total Care Europe Unipessoal LDA Total Care Europe Unipessoal LDA will thus exclusively own all such rights, title and interests in the comments and shall not be limited in any way in its use, commercial or otherwise, of any of the comments.
                        </p>
                            You warrant that the comments disclosed, submitted or offered by you to the site do not and will not violate any right of any third party, including copyright, trademark, privacy or any other personal or proprietary right.
                        <p>

                        <p> 
                            You agree not to disclose, submit or offer any comments that will contain any defamatory, unlawful, abusive or obscene material.
                        </p>

                        <p>
                            Total Care Europe Unipessoal LDA disclaims any liability towards any third party regarding your comments and you shall remain accountable towards any third party regarding the contents of your comments.
                        </p>

                        <h4>PRODUCT AND SERVICE SALES AND AVAILABILITY</h4>
                        <p>
                            All products and services displayed on this site are subject to availability. All prices displayed on the site are quoted in the currency associated with the flag you select/ European Union (EURO). Total Care Europe Unipessoal LDA 
                            reserves the right without prior notice to discontinue or change specifications on products and services offered on this site without incurring any obligations.
                        </p>

                        <h4>COLORS</h4>
                        <p>We have made every effort to display as accurately as possible the colours of the products that appear on the site. However, as the actual colours you see will depend on your monitor, 
                            we cannot guarantee that your monitor’s display of any colour will be accurate. This does not apply for services offered.
                        </p>

                        <h4>PAYMENT CARD AND/OR PAYMENT ACCOUNT ACQUIRING AND SECURITY</h4>
                        <p>Payments for products purchased may be made by the following means:</p>
                        <ul>
                            <li>Online Payment (Using bank card)</li>
                            <li>Cash deposits</li>                            
                            <li>Speed Point Payments (Head-office or Stockists)</li>
                            <li>Electronic Funds Transfer (EFT)</li>
                        </ul>

                        <p>
                            Once payment is made by a Member, Proof of Payment must be sent to Total Care Europe Unipessoal LDA finance department; via email or 
                            WhatsApp, and the Member is obliged to ensure that the Total Care Europe Unipessoal LDA finance department has been notified of the payment, and that the finances department has received said Proof Of Payment.
                        </p>

                        <p>
                            Payment is recognized by Total Care Europe Unipessoal LDA once the funds are reflected in the company’s bank account
                        </p>

                        <p>
                            The date on which the funds for ‘First Purchase’ are reflected in the company’s bank account and the order marked as paid on the system is the date on which the distributor will be considered active.
                        </p>

                        <p>
                            Stock can be collected or delivered once payment reflects to the company’s bank account.
                        </p>

                        <p>
                            Distributors are to allow 48 hours for collection and up to 72 hours for delivery over & above 5 working days nationwide or 15 business days for international members.
                        </p>

                        <p>
                            Level based Commissions are payable by the 10th of each month to a distributor’s bank account or afterwards if the 10th falls on a weekend.
                        </p>

                        <p>
                            Payments will not be made to 3rd parties, unless there is prior written arrangement accepted and approved by Total Care Europe Unipessoal LDA.
                        </p>

                        <p>
                            Level based commissions will be paid to an active distributor for the preceding month’s volume of business, for the month in question.
                        </p>

                        <p>
                            Rank bonuses will be paid once off within 60 days of qualifying. Incentives are awarded 90 days after the Annual Total Care Europe Unipessoal LDA Annual Event.
                        </p>

                        <p>
                            Monthly volume bonus will be paid out by the 15th of the following month. Annual Loyalty bonuses will be paid annually within 90 days after the annual event.
                        </p>

                        <p>
                            Distributors may verify their commissions, incentives and bonuses by accessing their back office on the Total Care Europe Unipessoal LDA system using their login credentials.
                        </p>
                        <p>
                            The Total Care Europe Unipessoal LDA system is an online system and distributors have unlimited access to the system 24/7
                        </p>

                        <p>
                            Total Care Europe Unipessoal LDA Members are to ensure that their accurate banking details have been uploaded onto the Total Care Europe Unipessoal LDA It is also the possibility of each Member to ensure that their banking details are updated on the system, should any details change.
                        </p>

                        <h4>PAYMENT</h4>
                        <p>
                            Total Care Europe Unipessoal LDA shall be authorised to debit the aggregate amount payable for the products or services ordered against the authorised Payment Card or Payment Account details supplied by you, or you will be required to make a cash deposit into the Total Care Europe Unipessoal LDA Bank Account when completing your order, and before your order will be released for delivery. Total Care Europe Unipessoal LDA Europe Unipessoal LDA shall be entitled to debit your Payment Card or Payment Account on acceptance of your order and prior to delivery.
                        </p>

                        <p>
                            By submitting your order, Identity Number and Payment Card or Payment Account details you warrant that you are over the age of 18 (eighteen), are authorised to make payment with the Payment Card or Payment Account and that there are sufficient funds available to pay for the order.
                        </p>

                        <p>
                            Payment Card (e.g. credit card) or Payment Account (e.g. PayPal, Netcash) details will be acquired for Total Care Europe Unipessoal LDA via a secure international payment gateway. We currently make use of Stripe (see the website for more details).
                        </p>

                        <p>
                            For European Union users, credit card details will be acquired via PayPal, Netcash who are the approved payment gateways in European Union. These gateways use the strictest form of encryption, namely Secure Socket Layer 3 (SSL3) and no credit card details are stored on the website. Users may go to the gateway’s website to view their security certificate and security policy.
                        </p>

                        <h4>CUSTOMER DETAILS SEPARATE FROM CARD DETAILS</h4>
                        <p>
                            Customer details will be stored by Total Care Europe Unipessoal LDA separately from card details which are entered by the client on the payment processor’s secure sites. For more detail on the payment processors, refer to the payment gateway website.
                        </p>

                        <h4>MERCHANT OUTLET COUNTRY AND TRANSACTION CURRENCY</h4>
                        <p>
                            The merchant outlet country at the time of presenting payment options to the cardholder is in European Union. The transaction currency is EURO.
                        </p>

                        <h4>RESPONSIBILITY</h4>
                        <p>
                            Total Care Europe Unipessoal LDA takes responsibility for all aspects relating to the transaction including sale of goods and services sold on this website, customer service and support, dispute resolution and delivery of goods.
                        </p>

                        <h4>VARIATION</h4>
                        <p>
                            Total Care Europe Unipessoal LDA may, in its sole discretion, change this agreement or any part thereof at any time without notice.
                        </p>
                        
                        <h4>COMPANY VARIATION</h4>
                        <p>
                            This website is run by Total Care Europe Unipessoal LDA, a company registered in European Union. The company may appoint agents in countries from time to time to assist with marketing and administration. However, all custom- er transactions are handled directly by Total Care Europe Unipessoal LDA.
                        </p>

                        <h4>COMPANY CONTACT DETAILS</h4>
                        <p>
                            AVENIDAD D. JOÁO 11 50 5TH FLOOR, DIFICIO MAR VERMELHO, PARQUE DAS NACÓES, LISBON 1990-095 +351937352378
                        </p>
                        <p>
                            Email: info@totacareeurope.com
                        </p>

                    </div>
            </div>
        </div>
    </div>   
    
    <footer class="footer">
        <div class="container">
            <p>&copy; 2023 Your Company. All rights reserved.</p>
            <p>&copy; footer in process</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>