<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/total.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <title>Terms & Conditions</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-lg fixed-top">
        <div class="container">
            
            <div class="navbar-logo">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="/public/images/logo (1).png" alt="Logo" width="100" height="80" class="d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><b>HOME</b></a>
                    </li>

                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>ABOUT US</b></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="about us">About Us</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="Q's & A's">Q's & A's</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="Events">Events</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="products.html"><b>PRODUCTS</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://totalcareeurope.com/webAssets/img/promotion.pdf" target="_self"><b>COMPENSATION PLAN</b></a>
                    </li>

                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>LOGIN AS</b></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="Login.html">User Login</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="UserRegister">User Register</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="StockListLogin">Stock List Login</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html"><b>CONTACT US</b></a>
                    </li>
                    
                </ul>
            </div>

        </div>
    </nav>
    

    <div class="site-wrapper site-wrapper-reveal">
        <div class="hero-slider-area">
            <div class="banner-img">
                <img src="/public/images/banner1.jpg" alt="">
            </div>
        </div>
        <div class="about-page-content-area sm-top px-lg-5 our-policies">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p style="text-align: center;">
                            <span style="font-family:Calibri,sans-serif;">
                                <h6 style="text-align: center;">Total Care - Website Terms of Use</h6><br>
                                Access to and use of the website www.totalcareeurope.com (hereinafter referred to as the “Total Care  Website”) and the information, materials, products and services 
                                available through the Total care Website are subject to these terms of use (the “Terms of use of the website”).
                            </span>
                        </p>

                        <p style="text-align: center;">
                            <span style="font-family:Calibri,sans-serif;">
                                In addition, the Total Care Europe Rules of Conduct and Total Care Policies for Total Care Business Owners (TCBOs) / Very Important Total Care Patners (VITCs) and the 
                                “Total Care Terms and Conditions of Purchase” apply to any purchases of products or services.
                            </span>
                        </p>

                        <p style="text-align: center;">
                            <span style="font-family:Calibri,sans-serif;">
                                The Website Terms of Use may be updated periodically. Updated versions will be posted on the Total Care Europe Website and will be effective immediately. When using the Total Care Website, you should regularly check to see if 
                                the Website Terms of Use have been updated or amended.
                            </span>
                        </p>

                        <p style="text-align: center;">
                            <span style="font-family:Calibri,sans-serif;">
                                The Total Care Website provides information about Total Care, the Total Care Business Opportunity and Total Care products and services, operating only in Portugal and 
                                based on Portuguese law. Total Care assumes no responsibility for the use of the Total Care Website in other countries.
                            </span>
                        </p>

                        <ol>
                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Password protected portions of the Total Care Website
                                    </span>
                                </span>
                            </li>

                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Total Care Privacy Policy and Statement
                                    </span>
                                </span>
                            </li>

                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Copyright and Use of Total Care Europe Website Materials
                                    </span>
                                </span>
                            </li>

                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Link to other websites
                                    </span>
                                </span>
                            </li>

                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Links from other websites to Total Care Europe Website
                                    </span>
                                </span>
                            </li>

                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Limitation of liability, disclaimer of Warranties and Indemnity
                                    </span>
                                </span>
                            </li>

                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Restricting or blocking Access to the Total Care Europe Website Due to Violation of the Website Terms of Use
                                    </span>
                                </span>
                            </li>

                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Severability clause
                                    </span>
                                </span>
                            </li>

                            <li>
                                <span style="font-size: 12pt;">
                                    <span style="font-family:Calibri,sans-serif;">
                                        Determination of applicable law, jurisdiction, and instance
                                    </span>
                                </span>
                            </li>
                        </ol>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    1. Password Protected Portions of the Total Care Europe Website
                                </span>
                            </span>
                        </p>
                        
                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    The password-protected portions of the Total Care website are for TCBOs and their customers in Portugal only. If you still don't know an VITCs/TCBOs and want to contact one check our contacts 
                                    available at our website www.totalcareeurope.com
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    <b>Please note:</b> passwords must not be given to third parties and must be protected against unauthorized access. If you become aware of any unauthorized use of your password, you must notify Total Care immediately. 
                                    Total Care disclaims all responsibility and liability for damage caused as a result of misuse of passwords.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    2. Total care Europe Privacy Policy and Statement
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    All personal data provided to Total Care Europe while using the Total Care Website will be processed in accordance with the Total Care website’s privacy policy. If you are signed up or logged in as a TCBO, 
                                    the Privacy Policy for TCBO also applies.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    All information provided to Total Care Europe when using the Total Care Website must be correct, complete and up-to-date. If we have reason to believe that incorrect, incomplete or out-of-date information has been provided, 
                                    access to the Total Care  Website may be limited or blocked.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    3. Copyright and Use of Total Care Europe Website Materials
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    The Total Care  Website and materials made available on it are protected by intellectual property rights, including copyrights, trade names and trademarks, 
                                    including the name Total Care Europe and the Total Care  logo, and are owned by Total Care Europe or used by Total Care under a license or with authorization from the holder of such rights. Materials protected by these intellectual property rights include the design, layout, appearance, appearance, graphics, photos, images, articles, 
                                    stories and other materials available on the Total Care  Website (collectively, “Download Materials”). Web site").
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    Materials on the website may only be reproduced, distributed, published or otherwise publicly displayed with prior written consent from Total Care. As an exception to this rule, Total Care  grants TCBOs a limited, 
                                    non-exclusive, revocable license to use website materials solely for the purpose of operating their Total Care  business by downloading, storing, printing, copying, sharing and displaying website materials , 
                                    provided that the material is not altered and that the source of information is cited, in the event that materials on the website are disclosed to third parties. If you have additional questions about the use of materials on the website, please contact us using the available email address info@totalcareeurope.com
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    The right to use the password protected parts of the Total Care website as an VITC ends upon termination of the TCBO agreement without further action being required by Total Care. 
                                    Upon termination, VITC must dispose off or destroy all stored, printed or copied materials unless they must be retained to satisfy legal requirements.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    4. Links to other websites
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    We may provide links to other websites that are outside of our control. We are not responsible for information or materials made available on third party websites. 
                                    We therefore advise you to read the usage and privacy statements of all third-party websites before using them or providing any personal data or any other information on or through these websites.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    5. Links from other websites to the Total care Europe website
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    Introducing links from a third party website to www.totalcareeurope requires prior written authorization from Total Care Europe. 
                                    If you want to place a link on other websites, contact us using the email info@totalcareeurope.com
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    6. Limitation of Liability, Disclaimer of Warranties and Indemnity
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    To the extent permitted by applicable law, neither Total Care nor its affiliates shall be liable for any direct, indirect, consequential or other damages, including but not limited to property damage, 
                                    loss of use, loss of business, economic loss, loss of data or loss of profits arising out of or associated with your use of or inability to use or access the Total Care Website or its content.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    Total Care will use all reasonable efforts to ensure that the information and materials provided on this Website are correct. 
                                    However, Total Care Europe cannot guarantee the accuracy of all information and materials and assumes no responsibility for the accuracy, completeness or authenticity of any information and materials included on this Website. We do not guarantee the permanent and perfect functioning of this Website or that it is free of viruses or other components that may be harmful to your equipment or software. Total Care Europe does not guarantee that the Total Care Website is compatible with the equipment and software you may be using and does not guarantee that the Total Care Website will always be available or available at any given time.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    You agree to indemnify, defend and hold Total Care and its affiliates harmless for losses associated with or your breach of the Website Terms of Use or your use of the 
                                    Total Care Website.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    7. Restricting or Blocking Access to the Total Care Website Due to Violation of the Website Terms of Use.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    In the event of a breach of these Website Terms of Use, in particular in case of use of the Total Care Website or individual elements of the Total Care Website beyond the intended use, 
                                    access to the Total Care Website may be limited or blocked.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    Generally, Total Care reserves the right to change all or part of, block or discontinue the Total Care Website or the content at any time and for any reason.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    8. Severability clause.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    If one of the provisions of these Terms of Use of the Website is invalid or declared invalid by a court, 
                                    this fact does not invalidate the remaining terms.
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    9. Determination of applicable law, jurisdiction and instance
                                </span>
                            </span>
                        </p>

                        <p>
                            <span style="font-size: 12pt;">
                                <span style="font-family:Calibri,sans-serif;">
                                    Use of the Total Care website and these Website Terms of Use is governed by the laws of Portugal. Unless otherwise stated in legal terms, the courts of Portugal have exclusive jurisdiction and authority for any disputes arising out of or associated with the use of the Total Care Europe Website or these Website Terms of Use.
                                </span>
                            </span>
                        </p>

                        <h3 style="text-align: center;">Privacy Policy</h3>
                        <p>
                            Your privacy is very important to Total Care and therefore any information that you provide to us is stored on a secure server. 
                            Our secure server encrypts your identity number and Payment Card details so as to minimise the risk of unauthorised disclosure or interception.
                        </p>

                        <p>
                            The site makes use of “cookies” to minimise the possibility of unauthorised access to and disclosure of your personal information. 
                            Total Care Europe Unipessoal LDA may use your information to contact you about promotions and special offers. You are entitled, at any stage, to opt out of this service.
                        </p>

                        <p>
                            Total Care Europe Unipessoal LDA does not sell or rent personal information about individual members (such as name, address, email address or telephone) to third parties. 
                            We do, however, reserve the right to disclose information regarding our members and usage of the site to each other and, amongst others, business partners and affiliates, including, but not limited to, Total Care, its advertisers, suppliers and other selected third parties. Total Care Europe Unipessoal LDA may disclose personal information in response to a specific request by a law enforcement agency, subpoena, court order, or as required by law.
                        </p>

                        <h4 style="font-family:Calibri,sans-serif;">INTELLECTUAL PROPERTY</h4>
                        <p>
                            Total Care Europe Unipessoal LDA retains all copyright in all material, including logos and other graphics, which form part of the site. 
                            All data and information communicated to or from the site and/or any site information and database remain and shall be the sole property of Total Care Europe Unipessoal LDA
                        </p>

                        <p>
                            Total Care Europe Unipessoal LDA grants you permission to view, electronically copy, and print in hard copy portions of the site for the sole purpose of 
                            browsing the site and placing an order with Total Care Europe Unipessoal LDA for your personal use only.
                        </p>

                        <p>
                            Any other use of materials on the site, including a reproduction for purposes other than those noted above, modification, distribution, or reproduction, 
                            without the prior written consent of Total Care Europe Unipessoal LDA and the lawful trademark and/or copyright owner (if applicable) is strictly prohibited and constitutes an unlawful infringement of the intellectual property rights of Total Care Europe Unipessoal LDA and/or such trademark and/or copyright owner.
                        </p>

                        <h4 style="font-family:Calibri,sans-serif;">TRADEMARKS</h4>
                        <p>
                            “Total Care”, the Total Care Europe Unipessoal LDA logo and all other marks, logos and trade names appearing on this site are trademarks of 
                            Total Care Europe Unipessoal LDA or their Republic of european union based and in certain other countries. Nothing contained on this site should be construed as granting, by implication or otherwise, any license or right to use any of the trademarks displayed on this site without the express prior written consent of Total Care Europe Unipessoal LDA Your use of any of the trademarks displayed on the site or in any of its contents is strictly prohibited.
                        </p>

                        <p>
                            You may not copy, reproduce, publish, upload, post, transmit, distribute or modify any of the trademarks appearing on this site. 
                            You further undertake not to infringe any right of Total Care Europe Unipessoal LDA or their licensees in respect of such trademarks. For the purpose hereof, the use of the trademarks on any other website or networked computer environment is prohibited. All rights not expressly granted are reserved.
                        </p>
                        <h4 style="font-family:Calibri,sans-serif;">ADVERTISING AND LINKS</h4>
                        <p>
                            External hyperlinks may be provided on the site. You shall not interpret such hyper linking as constituting any relationship between Total Care Europe Unipessoal LDA and any 
                            linked third party or any endorsement by Total Care Europe Unipessoal LDA of such third party and use of or reliance on any external links provided is at your own risk. Advertising and other promotional material will appear on the site from time to time.
                        </p>

                        <p>
                            You shall not interpret such advertising or promotional material as constituting any relationship between Total Care Europe Unipessoal LDA and any third party placing such advertising or promotional material on the site or any endorsement by 
                            Total Care Europe Unipessoal LDA of such third party and use of or reliance on any such material is entirely at your own risk.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2023 Your Company. All rights reserved.</p>
            <p>&copy; footer in process</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>